#cards-page {
  width: 100%;
  height: 100%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.cards-navigation-buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* border: 1px solid yellow; */
}

.card-previous,
.card-next {
  height: 48px;
  width: 128px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 18px;
  font-style: italic;
  align-items: center;
  background-color: var(--mauve);
  color: var(--base);
  border: 1px solid var(--crust);
  box-shadow: 8px 8px 0 var(--crust);
  cursor: pointer;
  user-select: none;
}

#cards-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  .card-next-overlay,
  .card-previous-overlay {
    height: 64px;
    width: 64px;
    min-height: 64px;
    min-width: 64px;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
  }

  .card-next-overlay span,
  .card-previous-overlay span {
    color: var(--blue);
    background-color: transparent;
    font-size: 32px;
  }
}
