/* @import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=Playwrite+GB+J:ital,wght@0,100..400;1,100..400&display=swap'); */

/* TODO: What if we need to self host these? */
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=arrow_back,chevron_left,chevron_right,close,dark_mode,favorite,light_mode,menu,more_vert,settings,translate');

@font-face {
  font-family: 'Cherry Bomb One';
  src: url('/assets/fonts/CherryBombOne-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Libre Baskerville';
  src: url('/assets/fonts/LibreBaskerville-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Playwrite GB J';
  src: url('/assets/fonts/PlaywriteGBJ-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  background: transparent;

  /* Catppuccin dark. */
  --rosewater: #f5e0dc;
  --flamingo: #f2cdcd;
  --pink: #f5c2e7;
  --mauve: #cba6f7;
  --red: #f38ba8;
  --maroon: #eba0ac;
  --peach: #fab387;
  --yellow: #f9e2af;
  --green: #a6e3a1;
  --teal: #94e2d5;
  --sky: #89dceb;
  --sapphire: #74c7ec;
  --blue: #89b4fa;
  --lavender: #b4befe;
  --text: #cdd6f4;
  --subtext1: #bac2de;
  --subtext0: #a6adc8;
  --overlay2: #9399b2;
  --overlay1: #7f849c;
  --overlay0: #6c7086;
  --surface2: #585b70;
  --surface1: #45475a;
  --surface0: #313244;
  --base: #1e1e2e;
  --mantle: #181825;
  --crust: #11111b;

  /* Catppuccin light. */
  --latte-rosewater: #dc8a78;
  --latte-flamingo: #dd7878;
  --latte-pink: #ea76cb;
  --latte-mauve: #8839ef;
  --latte-red: #d20f39;
  --latte-maroon: #e64553;
  --latte-peach: #fe640b;
  --latte-yellow: #df8e1d;
  --latte-green: #40a02b;
  --latte-teal: #179299;
  --latte-sky: #04a5e5;
  --latte-sapphire: #209fb5;
  --latte-blue: #1e66f5;
  --latte-lavender: #7287fd;
  --latte-text: #4c4f69;
  --latte-subtext1: #5c5f77;
  --latte-subtext0: #6c6f85;
  --latte-overlay2: #7c7f93;
  --latte-overlay1: #8c8fa1;
  --latte-overlay0: #9ca0b0;
  --latte-surface2: #acb0be;
  --latte-surface1: #bcc0cc;
  --latte-surface0: #ccd0da;
  --latte-base: #eff1f5;
  --latte-mantle: #e6e9ef;
  --latte-crust: #dce0e8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: inherit;
}

html,
body {
  background: var(--base);
  color: var(--text);
  font-family: sans-serif;
}

.no-select {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  touch-action: manipulation;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

#root {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 100px 1fr 64px;
  color: var(--lavender);
  /* border: 1px solid red; */
}

* {
  /* WARNING: Non standard (yet well supported). */
  /* Remove the annoying blue "highlight" to every clickable element. */
  -webkit-tap-highlight-color: transparent;
}
